#game_image{
    height:auto;
    width:100%;
  }

.game_list{
  height:150%;
  width:100%;
}

.paragraph_size{
  font-size:x-large;
  text-align: left;
}

#title_size{
  font-size:x-large;
  text-align: center;
}

table, th, td {
  border: 2px solid rgb(65, 61, 61);
}

.left{
  text-align: left;
}

th, td {
  padding: 15px;
  text-align: left;
  width:250px; 
  height:250px; 
  background-color:white;
  text-align:center; 
  vertical-align: middle;
}

